 {% block main %}
 <ul>
     <li><span>Method</span>
        <input placeholder="请输入方法名"></input>
     </li>

    <li><span>URL</span>
        <input placeholder="请输入URL"></input>
    </li>


    <li> <span>执行标识</span>
         <input placeholder="请输入执行标识"></input>
    </li>


    <li> <span>Header</span>
        <input placeholder="请输入方法头"></input>
    </li>


    <li> <span>Body</span>
        <textarea placeholder="方法体"></textarea>
    </li>


    <li> <span>引用关键字</span>
        <input placeholder="引用关键字"></input>
    </li>


    <li> <span>预期结果</span>
        <textarea ></textarea></li>


    <li><span>实际结果</span>
     <textarea></textarea></li>
 </ul>
 {% endblock %}