{% extends 'base.html' %}
{% block  main %}


<!--Start login Section-->
<section class="login-section">
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static',filename='images/logo.jpg') }}" alt="logo"/>
        </div>

        <h2 class="header-title text-center">登录</h2>

        <form action="/login" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入手机号码" name="phone">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="请输入密码" name="password">
            </div>

            <div class="form-group">
                <div class="pull-left">
                    <div class="checkbox primary">
                        <input id="checkbox-2" type="checkbox">
                        <label for="checkbox-2">Remember me</label>
                    </div>
                </div>

                <div class="pull-right">
                    <a href="reset-password.html" class="a-link">
                        <i class="fa fa-unlock-alt"></i> 忘记密码?
                    </a>
                </div>
            </div>
            <div class="errormessage" style="color:red">
                {% for message in get_flashed_messages() %}
                    {{message}}
                 {% endfor %}
            </div>

            <div class="form-group">
                <input type="submit" value="登录" class="btn btn-primary btn-block">
            </div>

            <div class="form-group text-center">
                没有帐号? <a href="/regist">注册 </a>
            </div>

        </form>

        <div class="copy-text">
            <p class="m-0">2019@苏州智慧数析信息科技有限公司</p>
        </div>

    </div>
</section>
<!--End login Section-->

{% endblock %}


